{% extends 'base.html.twig' %}

{% block title %} Add New User {% endblock %}

{% block body %}
    <h1 class="display-4">Add New User</h1>
    <a class="btn btn-primary btn-sm mb-1" href="{{ path('user_list') }}">Back to User</a>

    {% include 'user/form.html.twig' with { 'form' : form, 'action' : action } only %}
{% endblock %}